# Directories or compiled output
.idea/
node_modules/
dist/
/build
tmp/
temp/

# environment, misc
.env*
!.env.example
!.env.sample
config.yaml
config.yml
yarn-error.log

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# lock
package-lock.json
yarn.lock

# OS
.DS_Store

# Tests
/coverage
/.nyc_output


# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# yarn
.yarn/*
.pnp.*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

drive/

publish.sh